<form>
  <label for="appointment-contact">Contact Name</label>
  <input id="appointment-contact" name="appointment-contact" type="text">
  <label for="contact-number">Contact Number</label>
  <input id="contact-number" name="contact-number" type="tel">
  <label for="appointment-title">Appointment Description</label>
  <input id="appointment-title" name="appointment-title" type="text">
  <label for="appointment-date">Date of Appointment</label>
  <input id="appointment-date" name="appointment-date" type="date">
  <label for="appointment-title">Appointment Description</label>
  <textarea name="appointment-title" id="appointment-title" cols="30" rows="10"></textarea>
  <button>Book Appointment</button>
</form>